<!DOCTYPE html>
<html>
<head>
  <title>HistoricalEvents</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <%= yield %>
    </div>
  </div>
</div>

<footer class="footer">
<div class="container">
<p class="text-muted"><a href="http://en.wikipedia.org/wiki/Timeline_of_scientific_discoveries">Historical Events from WikiPedia</a></p>
</div>
</footer>
</body>
</html>
